@{
    ViewData["Title"] = "Home Page";

    int a = 43;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(a % 2 == 0){
    <p>Mon nombre : @a est un nombre pair.</p>
}
else{
    <p>Mon nombre : @a est un nombre impair.</p>
}

@for(int i = 0; i < a; i++)
{
    <p>@i</p>
}

