@using DAL.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<User>

<a asp-controller="User" asp-action="Create">Create new user</a>

<ul>
    @foreach(User u in Model)
    {
        <li>
            @u.Email
            @u.Password
        
            <a asp-controller="User" asp-action="Update" asp-route-id="@u.Id">Update</a>
            <a asp-controller="User" asp-action="Delete" asp-route-id="@u.Id">Delete</a>
        </li>
        
    }
</ul>

